body{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    border: 1px solid #000;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
    width: 70%;
}

#cabecera{
    background-color: rgb(24, 126, 49);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline{
    font-weight: normal;   
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#container h1{
    font-size: 20px;
}